.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-center-items {
	align-items: center;
}


.margin-vertical-50 {
	margin-top: 50px;
	margin-bottom: 50px;
}

.margin-top-50 {
	margin-top: 50px;
}

.padding-20 {
	padding: 20px;
}

.login-paper {
	max-width: 400px;
	width: 70%;
}